:root {
    --byzantium: #7a306cff;
    --cool-gray: #8e8dbeff;
    --non-photo-blue: #a9e4efff;
    --light-green: #81f495ff;
    --lawn-green: #96f550ff;
}

body {
    margin: 0;
    background-color: var(--non-photo-blue);
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.top-icons {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    padding: 1rem 2rem;
    background-color: transparent;
    z-index: 10;
}

.social-links {
    display: flex;
    gap: 1rem;
}

.home-icon,
.social-links img {
    height: 40px;
    width: 40px;
    display: block;
    object-fit: contain;
}

.scroll-section {
    background-color: white;
    overflow-y: auto;
    padding: 2rem;
    box-sizing: border-box;
    width: 80vw;
    height: 80vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-top: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-radius {
    border-radius: 8px;
    box-shadow: 8px 8px 0px 0px rgba(142, 141, 190, 1);
    -webkit-box-shadow: 8px 8px 0px 0px rgba(142, 141, 190, 1);
    -moz-box-shadow: 8px 8px 0px 0px rgba(142, 141, 190, 1);
}

.button-radius {
    border-radius: 8px;
    box-shadow: 8px 8px 0px 0px rgba(122, 48, 108, 1);
    -webkit-box-shadow: 8px 8px 0px 0px rgba(122, 48, 108, 1);
    -moz-box-shadow: 8px 8px 0px 0px rgba(122, 48, 108, 1);
}

.intro-container h1 {
    font-size: 2rem;
    color: var(--byzantium);
    margin-bottom: 0.5rem;
}

.intro-container p {
    font-size: 1rem;
    color: black
}

.intro-container {
    text-align: center;
}

.greeting strong {
    color: var(--byzantium);
}

.scroll-nav {
    height: 40vh;
}

.scroll-nav button {
    background-color: var(--cool-gray);
    border-color: var(--byzantium);
    border-width: 2px;
    padding: 2rem;
    width: 100%;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}

.scroll-nav button:hover {
    color: var(--light-green);
}

#home-nav {
    display: flex;
    flex-direction: column;
}

.greeting {
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.computer-image {
    position: relative;
    margin-top: 3rem;
    width: 100%;
    text-align: center;
}

.computer-pixel {
    width: 160px;
    height: auto;
}

.invader-image {
    position: absolute;
    top: 35px;
    left: 45%;
    width: 35px;
    height: auto;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--non-photo-blue);
    width: 100%;
}

.radius {
    border-radius: 8px;
}