:root {
    --byzantium: #7a306cff;
    --cool-gray: #8e8dbeff;
    --non-photo-blue: #a9e4efff;
    --light-green: #81f495ff;
    --lawn-green: #96f550ff;
}

body {
    margin: 0;
    background-color: var(--non-photo-blue);
    display: flex;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.content-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.top-icons {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    padding: 1rem 2rem;
    background-color: transparent;
    z-index: 10;
}

.social-links {
    display: flex;
    gap: 1rem;
}

.home-icon,
.social-links img {
    height: 40px;
    width: 40px;
    display: block;
    object-fit: contain;
}

.scroll-section {
    background-color: white;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 2rem;
    box-sizing: border-box;
    width: 80vw;
    max-height: 80vh;
    min-height: 60vh;
    scrollbar-width: none;
    -ms-overflow-style: none;
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10rem;
}

.page-radius {
    border-radius: 12px;
    box-shadow: 12px 12px 0px 0px rgba(142, 141, 190, 1);
    -webkit-box-shadow: 12px 12px 0px 0px rgba(142, 141, 190, 1);
    -moz-box-shadow: 12px 12px 0px 0px rgba(142, 141, 190, 1);
}

.button-radius {
    border-radius: 8px;
    box-shadow: 4px 4px 0px 0px rgba(122, 48, 108, 1);
    -webkit-box-shadow: 4px 4px 0px 0px rgba(122, 48, 108, 1);
    -moz-box-shadow: 4px 4px 0px 0px rgba(122, 48, 108, 1);
}

.intro-container h1 {
    font-size: 3rem;
    color: var(--byzantium);
    margin-bottom: 0;
    margin-top: 0.5rem;
}

.intro-container p {
    font-size: 1rem;
    color: black
}

.intro-container {
    text-align: center;
}

.greeting strong {
    color: var(--byzantium);
}

.scroll-nav {
    height: 40vh;
}

.scroll-nav button {
    background-color: var(--cool-gray);
    border-color: var(--byzantium);
    border-width: 2px;
    padding: 1rem;
    min-width: 300px;
    width: 100%;
    min-height: 70px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: white;
    cursor: pointer;
    transition: all 0.12s ease;
    transform-origin: center;
    text-align: center;
    padding: 0;
}

.scroll-nav button:hover {
    color: var(--light-green);
    font-size: 1.8rem;
    transform: scale(1.05);
}

#home-nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
    margin: 2rem 0;
}

.greeting {
    width: 80vw;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.computer-image {
    position: relative;
    margin-top: 0;
    width: 160px;
    margin: 0 auto 0;
}

.computer-pixel {
    width: 100%;
    height: auto;
}

.invader-image {
    position: absolute;
    top: 20%;
    left: 28%;
    width: 20%;
    height: auto;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--non-photo-blue);
    width: 100%;
    margin-top: 2rem;
}

.radius {
    border-radius: 8px;
}

.page-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    gap: 1rem;
}

.page-nav button {
    min-width: 150px;
    min-height: 60px;
    text-transform: uppercase;
}

.about-content {
    max-height: 80vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.about-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image {
    width: 100%;
    max-width: 300px;
    text-align: right;
    color: var(--byzantium);
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1rem;
    letter-spacing: 1px;
}

.about-image em {
    font-weight: 500;
}

.about-image img {
    width: 100%;
    max-width: 300px;
    border-radius: 8px;
    border: solid 3px;
    border-color: var(--byzantium);
}

.page-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    letter-spacing: 1px;
    color: var(--byzantium);
    text-shadow: 4px 4px 2px rgba(129, 244, 149, 0.25);
}

.about-text {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.about-text h2 {
    color: var(--byzantium);
}

.skills-container {
    background-color: transparent;
    text-align: left;
    overflow: visible;
    width: 70vw;
}

.skills-list label {
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: white;
    display: block;
    margin-bottom: 0.3rem;
}

.skills-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

progress {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    border-radius: 6px;
    width: 100%;
    height: 1.5rem;
    overflow: hidden;
}

.skills-list progress::-webkit-progress-bar {
    background-color: var(--non-photo-blue);
    border-radius: 6px;
}

.skills-list progress::-webkit-progress-value {
    background-color: var(--light-green);
    border-radius: 6px 0 0 6px;
}

.skills-list progress::-moz-progress-bar {
    background-color: var(--light-green);
    border-radius: 6px 0 0 6px;
}

.skill-wrapper {
    background-color: var(--cool-gray);
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 4px 4px 0 var(--byzantium);
    margin-top: 2rem;
}

.skills-list li {
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 600px;
}

.skills-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.skills-content p {
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.project-card {
    background-color: var(--cool-gray);
    color: white;
    border: solid 2px var(--byzantium);
    border-radius: 8px;
    box-shadow: 4px 4px 0 var(--byzantium);
    padding: 2rem;
    width: 80%;
    max-width: 400px;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 1.5rem;
    letter-spacing: 1px;
    text-align: center;
}

.projects-grid {
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

.content {
    max-height: 80vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.content p {
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-top: 2rem;
}

input[type="text"],
input[type="email"],
textarea {
    width: 80%;
    padding: 1rem;
    font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 2px solid var(--byzantium);
  border-radius: 10px;
  box-sizing: border-box;
}

textarea {
    resize: none;
    height: 180px;
}

button[type="submit"] {
    padding: 1rem 2rem;
    background-color: var(--lawn-green);
    color: var(--byzantium);
    font-family: "Pixelify Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: bold;
  font-size: 1.5rem;
  border-radius: 10px;
  border: none;
  box-shadow: 4px 4px 0px 0px rgba(122,48,108,0.98);
-webkit-box-shadow: 4px 4px 0px 0px rgba(122,48,108,0.98);
-moz-box-shadow: 4px 4px 0px 0px rgba(122,48,108,0.98);

}